/.vscode/settings.json
/nbproject/project.properties
/nbproject/genfiles.properties
/nbproject/project.xml
/build.xml
/nbproject/build-impl.xml
/lib/jna.jar
/lib/jna-5.9.0-javadoc.jar
/lib/win32-x86-64.jar
/lib/win32-x86.jar
/lib/jna-5.9.0-jpms.jar
/lib/jna-platform-5.9.0-jpms.jar
/lib/jna-platform-5.9.0-javadoc.jar
/bin/
/Obsoletos/
/src/Images/
/src/a3/
/test/
